extends layout

block content
  h1= title
  p Welcome to #{title}.
  p Developed By: Jon Bonso
  p
  p
  p How to Use:
  p
  p /query?stockTicker= <Stock Ticker>
  p
  p Example Request: https://helix-stocks-api.herokuapp.com/query?stockTicker=GOOG
